BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk_50" SITE "PR5C" ;
LOCATE COMP "spi_clk" SITE "PT10A" ;
LOCATE COMP "spi_ce" SITE "PT10B" ;
LOCATE COMP "spi_mosi" SITE "PT9B" ;
LOCATE COMP "color[0]" SITE "PL2C" ;
LOCATE COMP "color[1]" SITE "PL2D" ;
LOCATE COMP "color[2]" SITE "PL3A" ;
LOCATE COMP "color[3]" SITE "PL3B" ;
LOCATE COMP "color[4]" SITE "PL3C" ;
LOCATE COMP "color[5]" SITE "PL3D" ;
LOCATE COMP "color[6]" SITE "PL4A" ;
LOCATE COMP "color[7]" SITE "PL4B" ;
LOCATE COMP "dot_clk" SITE "PL5A" ;
LOCATE COMP "led[0]" SITE "PR4D" ;
LOCATE COMP "led[1]" SITE "PR4C" ;
LOCATE COMP "led[2]" SITE "PR4B" ;
LOCATE COMP "led[3]" SITE "PR4A" ;
LOCATE COMP "nde" SITE "PL5D" ;
LOCATE COMP "spi_miso" SITE "PT9A" ;
USE SECONDARY NET "spi_clk_c" ;
USE PRIMARY NET "clk" ;
LOCATE COMP "btn_row[0]" SITE "PB11B" ;
LOCATE COMP "btn_row[1]" SITE "PB11A" ;
LOCATE COMP "btn_row[2]" SITE "PB11D" ;
LOCATE COMP "btn_row[3]" SITE "PB11C" ;
LOCATE COMP "btn_row[4]" SITE "PL10D" ;
LOCATE COMP "btn_row[5]" SITE "PL10C" ;
LOCATE COMP "btn_row[6]" SITE "PL9B" ;
LOCATE COMP "btn_row[7]" SITE "PL9A" ;
LOCATE COMP "btn_row[8]" SITE "PL8D" ;
LOCATE COMP "btn_col[0]" SITE "PB4C" ;
LOCATE COMP "btn_col[1]" SITE "PB4D" ;
LOCATE COMP "btn_col[2]" SITE "PB6A" ;
LOCATE COMP "btn_col[3]" SITE "PB6B" ;
LOCATE COMP "btn_col[4]" SITE "PB6C" ;
LOCATE COMP "btn_col[5]" SITE "PB6D" ;
LOCATE COMP "btn_col[6]" SITE "PB9A" ;
LOCATE COMP "btn_col[7]" SITE "PB9B" ;
IOBUF PORT "btn_col[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "btn_col[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "btn_col[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "btn_col[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "btn_col[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "btn_col[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "btn_col[6]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "btn_col[7]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "btn_row[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "btn_row[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "btn_row[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "btn_row[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "btn_row[8]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "btn_row[7]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "btn_row[6]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "btn_row[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "btn_row[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
